# Core
dependencies==7.7.1
python-dotenv
environs==14.6.0
greenlet==3.4.0

# DB
asyncpg==0.30.0
SQLAlchemy==2.0.43

# Telegram
python-telegram-bot==22.7
# for some reason python-telegram-bot[rate-limiter]==21.5 doesn't work
aiolimiter==1.2.1
git+https://github.com/python-telegram-bot/ptbcontrib.git@main

# Management
click==8.3.0

# Monitoring
sentry-sdk==2.39.0

# venv hash bump 0
