SETTINGS_MODULE=feedbackbot.settings

ENVIRONMENT={{ env_name }}
STAGE={{ stage }}

DB_USERNAME={{ db_username }}
DB_PASSWORD={{ db_password }}
DB_HOST=postgres
DB_PORT=5432
DB_NAME=feedback_bot

TG_TOKEN={{ tg_token }}
TG_CHAT_ID={{ tg_chat_id }}

SENTRY_DSN={{ sentry_dsn }}
